@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  padding-top: 30px;
  padding-left: 80px;
  padding-right: 80px;
  padding-bottom: 30px;
  background-color: #f8f9fa;
}

@media (max-width: 800px) {
  body {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
  }
}

@media (min-width: 800px) {
  .form {
    background-color: #ffffff;
    box-shadow: 40px 40px 91.6px rgba(228, 230, 234, 0.74);
  }
}

